App/flows.json
[
    {
        "id": "6454e2cc.a3f34c",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "d0327e1b.0a1538",
        "type": "http in",
        "z": "6454e2cc.a3f34c",
        "name": "",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 177.5,
        "y": 200,
        "wires": [
            [
                "c04881fa.532988",
                "7c4fe964.71882"
            ]
        ]
    },
    {
        "id": "43a4b526.76f764",
        "type": "http response",
        "z": "6454e2cc.a3f34c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 210,
        "y": 460,
        "wires": []
    },
    {
        "id": "c04881fa.532988",
        "type": "function",
        "z": "6454e2cc.a3f34c",
        "name": "",
        "func": "var objects = [];\nvar object = {};\nobject.name = 'Mario';\nobject.age = '35';\nobjects.push(object);\nmsg.payload = JSON.stringify(objects);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 240,
        "wires": [
            [
                "43a4b526.76f764"
            ]
        ]
    },
    {
        "id": "7c4fe964.71882",
        "type": "debug",
        "z": "6454e2cc.a3f34c",
        "name": "",
        "active": true,
        "console": "true",
        "complete": "true",
        "x": 393.5,
        "y": 167,
        "wires": []
    }
]